@media only screen and (min-width: 300px) {

	* {
		margin: 0 auto;
}

	body
{
	background-color: grey;
	color: #515659;
	background: url("../assets/wallpaper.jpg") fixed no-repeat center;
	background-size: cover;
	font-family: Helvetica;
}

#bandeau
{
	background-color: #ffffff;
	opacity : 1;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	color: #515659;
	margin-bottom: 5%; 
}
.logo
{
	margin-left : 2%;
	margin-top : 0.8%;
	margin-bottom : 0.8%;

}
#logo {
	width : 15%;
	height : auto;
}

.connexion {
	text-decoration: none;
	color: #515659;
	font-size : 1.1em;
	margin-top : auto;
	margin-bottom : auto;
	margin-right : 18%;
}
.aide 
{
	text-decoration: none;
	font-size : 1.1em;
	color: #515659;
	text-decoration: none;
	margin-top : auto;
	margin-bottom : auto;
	margin-right : 8%;
}
.bandeau-droite
{
	display : flex;
	justify-content : space-around;
	flex-direction: row;
	align-items: flex-end;
	flex-wrap : nowrap;
	padding : 2%;
	

}
#slogan h1
{
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	color : #ffffff;
	margin-top : 10%;
	margin-bottom : 15%;

}
#apropos
{
	background-color: white;
	opacity: 0.9;
	display: flex;
	flex-wrap:wrap;
	text-align:justify;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 5%;
	padding-top : 2%;
	margin-left: 8%;
	margin-right: 8%;
	border-radius : 10px;
	font-size : 1.4em;
	margin-bottom : 3%;
}

#apropos h3
{
	font-size: 2.5em;
	padding-bottom: 20px;
}


}




@media only screen and (max-width: 1000px) {

	* {
		margin: 0 auto;
}
body
{
	background-color: grey;
	color: #515659;
	background: url("../assets/wallpaper.jpg") fixed no-repeat center;
	background-size: cover;
	font-family: Helvetica;}


	#bandeau
	{
		background-color: #ffffff;
		opacity : 0.9;
		display: flex;
		width: 100%;
		height : 100%;
		justify-content: space-between;
		color: #515659;
		font-size: 1.5rem;
	}

	.logo
	{
		margin-left : 2%;
		margin-top : 0.8%;
		margin-bottom : 0.8%;

	}
	#logo {
	width : 70%;
	height : auto;
	}

	h2
	{
		font-size: 3em;
		margin-bottom: 3%;
	}

.connexion {
	text-decoration: none;
	color: #515659;
	font-size : 2.5rem;
	margin :auto;
	margin-right : 5%;
	padding-right : 1%;

}
.aide 
{
	text-decoration: none;
	font-size : 2.5rem;
	color: #515659;
	text-decoration: none;	
margin :auto;
margin-right: 2%;

}
#slogan h1
{
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	color : #ffffff;
}
#apropos
{
	background-color: #ffffff;
	opacity: 0.9;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 5%;
	padding-top : 3%;
	margin-left: 4%;
	margin-right: 4%;
	border-radius : 10px;
}

#apropos h3
{
	font-size : 3em;
	padding-bottom: 25px;
	text-align : center;

}
}