body
{
	background-color: grey;
	color: white;
	background: url("https://images.pexels.com/photos/279719/pexels-photo-279719.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") fixed no-repeat center;
	background-size: auto;
}
#bandeau
{
	background-color: #3A2D8C;
	opacity : 0.9;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	color: #FFF;
}
.logo
{
	margin-left: 2%;

}
#FAQ
{
	background-color: #3A2D8C;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 5%;
	opacity: 0.9;
	display: flex;
	flex-wrap:wrap;
	justify-content: justify;
	padding-left: 4%;
	padding-right: 4%;
}
h2
{
	font-size: 3em;
}
.retour
{
	font-size: 1.3em;
	padding: 1%;
}
.inscription
{
	margin-left: 5%;
	margin-right: 2%;
	font-size: 1em;
	color: #FFF;
	text-decoration: none;
}
