@media only screen and (min-width: 300px) {
	body
	{
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
		position: absolute;


	}


	#bandeau
	{
		background-color: #ffffff;
		opacity : 1;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 5%;
	}

	.logo
	{
		margin-bottom : 0.8%;
		margin-left : 2%;
		margin-top :0.8%;

	}

	#logo {
		width: 15%;
		height: auto; 
	}
	#bandeau_droite{
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		margin-right : 1%;
	}

	.connexion{
		font-size : 1em;
		font-size: 1em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right : 4%;
		
	}
	.aide{
		font-size : 1em;
		margin-right : 4%;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;


		
	}
	.contact{
		font-size : 1em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right : 4%;
	}

	.language{
		font-size: 0.8em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		border : 1px solid #515659;

	}



	#FAQ
	{
		background-color: white;
		opacity: 0.9;
		display: flex;
		flex-wrap:wrap;
		text-align:justify;
		padding-left: 4%;
		padding-right: 4%;
		padding-bottom: 5%;
		padding-top : 2%;
		margin-left: 8%;
		margin-right: 8%;
		border-radius : 10px;
		font-size : 1.4em;
		margin-bottom : 5%;
		position: relative;
		min-height: 100%;
		
	}

	.titre_FAQ
	{
		font-size: 4em;
		padding-bottom: 2%;
		text-align: center;
		margin: auto;
		position: relative;
		margin-bottom: 2%;
		

	}
	.question{
		margin: auto;
		position: relative;
		text-align: center;	
	}
	.answer {
		font-weight: normal;
		text-align: justify;	
		font-size : 0.7em;
		
	
	
	}

	    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3C4459; 
  }
	


}




@media only screen and (max-width: 1000px) {

	* {
		margin: 0 auto;
}
	body
	{
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
		padding-bottom: 20%;
		position: absolute;
	}


		#bandeau
		{
			background-color: #ffffff;
			opacity : 0.9;
			display: flex;
			width: 100%;
			height : 100%;
			justify-content: space-between;
			color: #515659;
			font-size: 1.5rem;
		}

		.logo
		{
			margin-left : 2%;
			margin-top : 0.8%;
			margin-bottom : 0.8%;

		}
		#logo {
		width : 70%;
		height : auto;
		}

		h2
		{
			font-size: 3em;
			margin-bottom: 3%;
		}

	.connexion {
		text-decoration: none;
		color: #515659;
		font-size : 2.5rem;
		margin :auto;
		margin-right : 5%;
		padding-right : 1%;

	}

	#FAQ
	{
		background-color: #ffffff;
		opacity: 0.9;
		padding-left: 3%;
		padding-right: 3%;
		padding-bottom: 5%;
		padding-top : 3%;
		margin-left: 4%;
		margin-right: 4%;
		border-radius : 10px;
	}

	#FAQ h1
	{
		font-size : 5em;
		padding-bottom: 25px;
		text-align : center;

	}
	
	.question {
		margin-bottom : 5%;

	}
	.answer {
		margin-top : 2%;
		font-weight: normal;
		font-size : 0.5em;
	}

    .inf{
        margin-left: -9.8%;
		margin-right: -9.8%;
		color: #515659;


	}
	
	/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: grey; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #3C4459; 
  }
  
}