body
{
	background-color: #F6F1F1;
	color: fff;
	background-size: auto;
}

#bandeau
{
	background-color: #3A2D8C;
	opacity : 0.9;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	color: #FFF;
}
.logo
{
	margin-left: 2%;
}
.aide
{
	margin-right: 2%;
	font-size: 1.05em;
	color: #FFF;
	text-decoration: none;
}
#tab1 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;
}

#tab2 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;
}
#tab3 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;
}

.tabs li {
    list-style:none;
    display:inline;
}

.tabs a {
    padding:5px 10px;
    display:inline-block;
    background:#fff;
    color:#3A2D8C;
    text-decoration:none;
}

.tabs a.active {
    background:#3A2D8C;
    color:#fff;
}
h3{
    color: #FFF;
}