body
{
	background-color: grey;
	color: #515659;
	background: url("../assets/wallpaper.jpg") fixed no-repeat center;
	background-size: cover;
    margin: 0 auto;
    font-family: Helvetica;
}

#bandeau
{
    background-color: #ffffff;
    opacity : 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    color: #515659;
    justify-content: space-between;
    margin-bottom: 5%;
}

.logo
{
    margin-bottom : 0.8%;
    margin-left : 2%;
    margin-top :0.8%;

}

#logo {
    width: 15%;
    height: auto; 
}

#bandeau_droite{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    padding-right: 2%;
}

.aide
{
    display: flex;
    font-size: 1.1em;
    color: #515659;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10%;
    padding-right: 1%;

}


.aide a:visited {
    text-decoration: none;
    color: #515659;
}

.aide a {
    text-decoration: none;
    color: #515659;
    display: flex;
}

.deconnexion a {
    text-decoration: none;
    color: #515659;
}

.deconnexion a:visited {
    text-decoration: none;
    color: #515659;
}

.deconnexion{
    font-size: 1.1em;
    color: #515659;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    padding-left: 2%;
    margin-right: 15%;
    
}

.settings a {
    text-decoration: none;
    color: #515659;
    display: flex;
    flex-direction: row;
}

.settings a:visited {
    text-decoration: none;
    color: #515659;
}

.settings{

    font-size: 1.1em;
    color: #515659;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    margin-right: 10%;
    padding-left: 2%;
    
}


#tab1 {
    margin-left: 8%;
    margin-right: 8%;
    background:#ffffff;
    border-radius: 5px;
    padding: 1%;
    opacity: 0.9;
    padding-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tab1 h3 {
    color: #515659;
    text-align: center;
}

h3 
{
    color: #FFF;
}

.tabs {
    margin-left: 6%;
    margin-bottom: 2%;
}

.tabs li {
    list-style:none;
    display:inline;
    margin-right: 0.5%;
}

.tabs a {
    display:inline-block;
    background:#fff;
    color:#515659;
    text-decoration:none;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tabs a.active {
    background:#007aff;
    color:#ffffff;
    border-radius: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.tabs #button{
    font-size: 1.4em;
    outline: none;
    background-color: white;
    color: #515659;
    border: none;
    padding-top: 0.4%;
    padding-bottom: 0.5%;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#add_piece{
    background-color: #515659;
    color: #ffffff;
    border: none;
    font-size: 2em;
    border-radius: 50%;
    margin-left: 48%;
    width :50px;
    height:50px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.modal2 {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content2 {
    background-color: #fefefe;
    text-align:center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 20%;
}
#name{
    margin-bottom: 5%;
}
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
h2{
    font-size: 1.2em;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



#modal1 {
    height: 300px;
    width: 60%;
	background-color:white ;
	opacity: 0.9;
    text-align: center;
    color: black;
	position: absolute;
	left: 20%;
	transition: 0.5s;
    top: -400px;
    
}

.modal1 {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    text-align:center;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
    border-radius: 5px;
}

.modal-content .input {
    padding: 2.5%;
    border-radius: 5px;
    border: 1px solid #888;
}

.modal-content2 .input {
    padding: 2.5%;
    border-radius: 5px;
    border: 1px solid #888;
}

#validation1 {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    background-color: #515659;
    color: white;
    border: none;
}

#validation2 {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    background-color: #515659;
    color: white;
    border: none;
}

#name{
    margin-bottom: 5%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
h2{
    font-size: 1.2em;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}