@media only screen and (min-width: 300px) {
	body {
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
	}
	#bandeau {
		background-color: #ffffff;
		opacity: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 5%;
	}
	.logo {
		margin-bottom: 0.8%;
		margin-left: 2%;
		margin-top: 0.8%;
	}
	#logo {
		width: 15%;
		height: auto;
	}
	#bandeau_droite {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		margin-right: 3%;
	}
	.connexion1 {
		font-size: 1em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
	}
	.aide {
		font-size: 1em;
		margin-right: 4%;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
	}
	.contact {
		font-size: 1em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 4%;
	}
	.language {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 4%;
	}
	#language {
		/* background-image: url("../assets/usa.svg"); */
		width: auto;
		height: 27px;
	}
	/* Partie conteneur  */
	#conteneur {
		background-color: #ffffff;
		color: #304045;
		margin-left: 15%;
		margin-right: 15%;
		padding: 3%;
		padding-right: 5%;
		padding-left: 3%;
		opacity: 0.9;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		border-radius: 10px;
		margin-bottom: 3%;
		margin-top: 2%;
		padding-bottom: 5%;
	}
	.input {
		padding: 10px;
		border-radius: 5px;
		width: 90%;
		border: none;
		color: #304045;
		border: 1px solid grey;
		font-size: 0.9em;
		box-sizing: content-box;
		display: inline-block;
		margin-top: 3%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.input.input.button {
		margin-top: 7%;
		margin-bottom: 3%
	}
	.inscription {
		margin-left: 2%;
		margin-right: 4%;
		opacity: 0.9;
		font-size: 1.2em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.titre {
		padding-bottom: 5%;
	}
	#slogan h1 {
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		color: #ffffff;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.connexion {
		margin-left: 2%;
		margin-right: 3%;
		opacity: 0.9;
		font-size: 1.2em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.aide a:visited {
		text-decoration: none;
		color: #515659;
	}
	.aide a {
		text-decoration: none;
		color: #515659;
	}
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}
	/* Track */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey;
		border-radius: 10px;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: grey;
		border-radius: 10px;
	}
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #3C4459;
	}
}

@media only screen and (max-width: 1000px) {
	body {
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
		position: absolute;
	}
	#bandeau {
		background-color: #ffffff;
		opacity: 1;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 5%;
	}
	label {
		font-size: 1.5em;
	}

	input[type='checkbox'] {
		width:30px;
		height:30px;
		background:white;
		border-radius:5px;
		border:2px solid #555;
	}


	.logo {
		margin-bottom: 0.8%;
		margin-left: 2%;
		margin-top: 0.8%;
	}
	#logo {
		width: 80%;
		height: auto;
	}
	#bandeau_droite {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: nowrap;
		margin-right: 4%;
	}
	.connexion1 {
		font-size: 2.3em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 4%;
	}
	.aide {
		font-size: 2.3em;
		margin-right: 4%;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
	}
	.contact {
		font-size: 2.3em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 4%;
	}
	.language {
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 6%;
	}
	#language {
		/* background-image: url("../assets/usa.svg"); */
		width: auto;
		height: 40px;
	}
	#conteneur {
		background-color: #ffffff;
		margin-left: 2%;
		margin-right: 2%;
		opacity: 0.9;
		display: block;
		border-radius: 10px;
		text-align: center;
		height: 80%;
		padding-top: 5%;
	}
	.connexion {
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		font-size: 2em;
	}
	.inscription {
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		font-size: 2em;
	}
	.titre {
		font-size: 2.5em;
	}
	.input {
		padding: 20px;
		border-radius: 5px;
		border: none;
		color: #304045;
		border: 1px solid #304045;
		width: 97%;
		font-size: 1.4em;
	}
	#slogan h1 {
		font-size: 5em;
		font-weight: bold;
		text-align: center;
		color: #ffffff;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.input.button {
		margin-top: 5%;
		margin-bottom: 10%;
	}
}