@media only screen and (min-width: 300px) {

	body
	{
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
	}
	#bandeau
	{
		background-color: #ffffff;
		opacity : 1;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 5%;
	}

	.logo
	{
		margin-bottom : 0.8%;
		margin-left : 2%;
		margin-top :0.8%;

	}

	#logo {
		width: 15%;
		height: auto; 
	}

	#bandeau_droite{
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		flex-wrap: nowrap;
		padding-right: 2%;
	}


	.aide{

		font-size: 1.1em;
		color: #515659;
		text-decoration: none;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: 5%;

		
	}
	/* Partie conteneur  */

	#conteneur
	{
		background-color: #ffffff;
		color: #304045;
		margin-left: 15%;
		margin-right: 15%;
		padding: 3%;
		padding-right: 5%;
		padding-left: 3%;
		opacity: 0.9;
		display: flex;
		flex-wrap:wrap;
		justify-content: center;
		border-radius: 10px;
		margin-bottom : 3%;
		margin-top : 2%;
		padding-bottom: 5%;
	}


	.input {
		padding: 10px;
		border-radius: 5px;
		width: 90%;
		border: none;
		color: #304045;
		border: 1px solid grey;
		font-size: 0.9em;
		box-sizing: content-box;
		display: inline-block;
		margin-top: 3%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.input.input.button {
		margin-top: 7%;
		margin-bottom: 3%
	}
	.inscription
	{
		margin-left:2%;
		margin-right: 4%;
		opacity: 0.9;	
		font-size: 1.2em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.titre {
		padding-bottom: 5%;
	}

	#slogan h1
	{
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		color : #ffffff;
		margin-top : 5%;
		margin-bottom : 5%;

	}
	
	.connexion
	{
		margin-left:2%;
		margin-right: 3%;
		opacity: 0.9;	
		font-size: 1.2em;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.aide a:visited {
		text-decoration: none;
		color: #515659;
	}
	
	.aide a {
		text-decoration: none;
		color: #515659;
	}
}

@media only screen and (max-width: 1100px) {
	#conteneur
	{
		background-color: #ffffff; 
		margin-left: 2%;
		margin-right: 2%;
		opacity: 0.9;
		display: block;
		border-radius: 10px;
		text-align: center;
		height: 80%;
		padding-top: 5%;
	}

	body
	{
		background-color: grey;
		color: white;
		background: url("../assets/wallpaper.jpg") fixed no-repeat center;
		background-size: cover;
		font-family: helvetica;
	}

	.connexion
	{
		margin-left: auto;
		margin-right: auto;
		opacity: 1;
		font-size: 2em;	
	}
	.inscription
	{
		margin-left:auto;
		margin-right: auto;
		opacity: 1;
		font-size: 2em;
	}
	
	#bandeau
	{
		background-color: #ffffff;
		opacity : 0.9;
		display: flex;
		width: 100%;
		height: 100%;
		margin-bottom: 2%;
		justify-content: space-between;
		color: #304045;
	}
	.logo
	{
		max-width: 45%;
		height: auto;
		margin : 1%;
		margin-left : 2%;
		margin-top :0.8%;
	}
	#logo {
		width: 100%;
		height: auto;
	}
	.aide
	{		
		margin-right: 3%;
		font-size: 2.5em;
		color: #304045;
		
	}

	.aide a:visited {
		text-decoration: none;
		color: #515659;
	}
	
	.aide a {
		text-decoration: none;
		color: #515659;
	}

	.titre {
		font-size: 2.5em;
	}

	.input {
		padding: 20px;
		border-radius: 5px;
		border: none;
		color: #304045;
		border: 1px solid #304045;
		width: 97%;
		font-size: 1.4em;
	}

	#slogan h1
	{
		font-size: 5em;
		font-weight: bold;
		text-align: center;
		color : #ffffff;
		margin-top : 10%;
		margin-bottom : 10%;

	}

	.input.button {
		margin-top: 5%;
		margin-bottom: 10%;
	}
}


