body
{
    background-color: grey;
    color: #515659;
    background: url("../assets/jala_wallpaper.jpg") fixed no-repeat center;
    background-size: cover;
    font-family: Helvetica;
    opacity: 1;
}

.logo
{
    margin-left: 0.5%;
    text-align: left;
}
    
#slogan h1
{
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	color : #ffffff;
}

#slogan h2{
    font-size: 4em;
    font-style: italic;
    text-align: center;
    color: #ffffff;
}

.equipe{
    font-size: 2em;
    color: #ffffff;
}

.photos_team{
    display: flex;
}


