@media only screen and (min-width: 300px) {

	body
	{
		background-color: grey;
		color: #515659;
		background: url("../assets/wallpaper.png") fixed no-repeat center;
		background-size: cover;
		font-family: Helvetica;
		margin: 0 auto;
	}

	#bandeau
	{
		background-color: #ffffff;
		opacity : 1;
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		justify-content: space-between;
		margin-bottom: 5%;
	}
	.logo
	{
		margin-left : 2%;
		margin-top : 0.8%;
		margin-bottom : 0.8%;

	}
	#logo {
		width : 15%;
		height : auto;
	}
	.aide 
	{

		font-size : 1.1em;
		color: #515659;
		margin-top : auto;
		margin-bottom : auto;
		margin-right : 8%;
	}

	.connexion 
	{

		font-size : 1.1em;
		color: #515659;
		margin-top : auto;
		margin-bottom : auto;
		margin-right : 8%;
	}

	.bandeau-droite
	{
		display : flex;
		justify-content : space-around;
		flex-direction: row;
		align-items: flex-end;
		flex-wrap : nowrap;
		padding : 2%;
	}
    
    
	#slogan h1
	{
		font-size: 4em;
		font-weight: bold;
		text-align: center;
		color : #ffffff;
		margin-top : 5%;
		margin-bottom : 5%;

    }

    .aide a:visited {
		text-decoration: none;
		color: #515659;
	}
	
	.aide a {
		text-decoration: none;
		color: #515659;
	}
	
    .connexion a:visited {
		text-decoration: none;
		color: #515659;
	}
	
	.connexion a {
		text-decoration: none;
		color: #515659;
	}
    
    .input {
		padding: 10px;
		border-radius: 5px;
		width: 40%;
		border: none;
		color: #304045;
		border: 1px solid grey;
		font-size: 0.9em;
		box-sizing: content-box;
		display: inline-block;
		margin-top: 3%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.input.input.button {
		margin-top: 2%;
		margin-bottom: 3%
	}
    
}