body
{
	background-color: #F6F1F1;
	color: fff;
	background-size: auto;
}

#bandeau
{
	background-color: #3A2D8C;
	opacity : 0.9;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
	color: #FFF;
}
.logo
{
	margin-left: 2%;
}
.aide
{
	margin-right: 2%;
	font-size: 1.05em;
	color: #FFF;
	text-decoration: none;
}

#tab1 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;
    flex-wrap: wrap;
}


.flex_titres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.flex{
    display: flex;
    flex-direction: row;
        justify-content: space-around;


}



.gauche{
    margin-left: -15%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.droite{
    margin-right: -5%;

}

.boutton_image{
    width: 75px;
    height: 75px;
    border-color: none;
    border-radius: 20px;
    background-image: url(../public/assets/ampoule.png);
    background-repeat: no-repeat; 
    background-position: 5px 5px;
    background-attachment: fixed;



}
.boutton{
    display: flex;
    flex-direction: column;

}

.boutton_image:active{
    border-color : green;
    background-color: green
}

.boutton_texte{
    color:white;
    text-align: center;
}


#tab2 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;
}
#tab3 {
    margin-left: 40px;
    margin-right: 40px;
    padding:10px;
    width:90%;
    background:#3A2D8C;

}

.tabs li {
    list-style:none;
    display:inline;
}

.tabs a {
    padding:5px 10px;
    display:inline-block;
    background:#fff;
    color:#3A2D8C;
    text-decoration:none;
}
.retour
{
    margin-top: 10px;
    margin-left: 40px;
}

.tabs a.active {
    background:#3A2D8C;
    color:#fff;
}
h3{
    color: #FFF;
}
.tabs .button{
    font-size: 1.2em;
    background-color: white;
    border: none;
    padding-top: 2.2px;
    padding-bottom: 3.7px;
    padding-left: 9px;
    padding-right: 9px;
}


#button_modal{
	background-color: #3A2D8C;
	opacity: 0.9;
	background-attachment: fixed;
	border: none;
	font-size: 1250%;
	color: white;
	position:absolute;
	cursor: pointer;
    left: 50%;
    top: 50%;
    width: 20%;
    height: 40%;
    margin-left: -10%; /* Cette valeur doit être la moitié négative de la valeur du width */
    margin-top: -8%; /* Cette valeur doit être la moitié négative de la valeur du height */
}

#modal {
    height: 300px;
    width: 60%;
	background-color:white ;
	opacity: 0.9;
    text-align: center;
    color: black;
	position: absolute;
	left: 20%;
	transition: 0.5s;
	top: -400px;



}


#close {
    height : 15px;
    width : 15px;
    background-color : none;
    color : black;
    font-size: 10px;
    border : none;
	cursor : pointer;
	top : 0px;
	right : 14px;
	position : absolute;

}

#validation {
    height : 50px;
    width : 300px;
    background-color : #3A2D8C;
    color : #ffffff;
    font-size:20px;
    border : none;
    cursor : pointer;

}
.textboutton{
	font-size: 30px;
	font-weight: bold;
	color: white;
	margin-top: 31%;
	margin-left: 42%;
}

#add_capteur
{
    background-color: #F6F1F1;
    border: none;
    margin-left: 45%;
    font-size: 2em;
    border-radius: 50%;
    width :50px;
    height:50px;
}



#modal1 {
    height: 300px;
    width: 60%;
	background-color:white ;
	opacity: 0.9;
    text-align: center;
    color: black;
	position: absolute;
	left: 20%;
	transition: 0.5s;
	top: -400px;
}























#button_modalpop{
	background-color: #3A2D8C;
	opacity : 0.9;
	background-attachment: fixed;
	border: none;
	font-size: 100%;
	color : white;
	position:absolute;
	cursor : pointer;
    left: 5%;
    top: 45%;
    width: 5%;
    HEIGHT : 8%;
 /* Cette valeur doit être la moitié négative de la valeur du height */
}


#modalpop
{
	background-color: white;
	color : black;
	margin-top: 2%;
	margin-left: 16%;
	margin-right: 16%;	
	bottom : 10%;
	top : 10%;	
	opacity: 0.9;
	display: flex;
	flex-wrap:wrap;
	justify-content: space-around;
	padding-top: 4%;
	padding-bottom: 4%;
	display : none;
	position: absolute;
	border-radius: 8px;

}	
#modalpop .infos
{
	margin-left: 5%;
	margin-right:5%;
	opacity: 1;
	 
}
#modalpop .modif_infos
{
	margin-left: 5%;
	margin-right: 5%;
	opacity: 1;
}


#fermer {
    height : 15px;
    width : 15px;
    background-color : none;
    color : black;
    font-size:10px;
    border : none;
	cursor : pointer;
	top : 0px;
	right : 14px;
	position : absolute;

}

#valider {
	height : 50px;
    width : 300px;
    background-color : #3A2D8C;
    color : #ffffff;
    font-size:20px;
    border : none;
    cursor : pointer;

}
