body
{
	background-color: grey;
	color: white;
	background-color : #F6F1F1;
	background-size: auto;
}
#bandeau
{
	background-color: #3A2D8C;
	opacity : 0.9;
	display: flex;
	width: 100%;
	height: 100%;
	color: #FFF;
	justify-content: space-between;
}
.logo
{
	margin-left: 2%;
}
.aide
{
	margin-left: 5%;
	margin-right: 2%;
	font-size: 1em;
	color: #FFF;
	text-decoration: none;
}
#content
{
    margin-left:24px;
    margin-right:24px;
}

#onglet ul
{
    font: normal 14px arial, sans, sans-serif;
    -list-style-type: none;
    border-bottom: 1px solid gray;
    margin: 0;
    padding-left:0;
    padding-right:0;
    padding-bottom: 26px;
}

#onglet ul li 
{
    display: inline;
    float: left;
    height: 24px;
    min-width:80px;
    text-align:center;
    padding:0;
    margin: 1px 0px 0px 0px;
    border: 1px solid gray;
}

#onglet ul li.selected 
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}


#onglet ul li a 
{
    float: left;
    color: #666;
    text-decoration: none;
    padding: 4px;
    text-align:center;
    background-color:#eee;
    min-width:80px;
    border-bottom: 1px solid gray;
}

#onglet ul li a.selected
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#onglet ul li a:hover
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
}
#onglet ul li a:active
{
	color:#F6F1F1;
}
#container 
{
    background: #F6F1F1;
    border:1px solid gray;
    border-top: none;
    height:350px;
    width:100%;
    padding:0;
    margin:0;
    left:0;
    top:0;	
}

iframe
{
    border:none;
    margin:0;
    padding:0;

}
.bouton
{
display: block;
width: 100px;
padding: 5px 3px;
text-align: center;
border: 4px solid grey;
border-radius: 6px;
box-shadow: 0 1px 2px rgba(0,0,0,0.3);
background-color: #fff;
}
 
 
.bouton:visited
{
padding: 6px 4px;
background: linear-gradient(top, #fff 0%, #2ae205 2% ,##1db245 100%);
background:-webkit-linear-gradient(top, #fff 0%, #2ae205 2% ,#1db245 100%);
background:-moz-linear-gradient(top, #fff 0%, #2ae205 2% ,##1db245 100%);
background:-o-linear-gradient(top, #fff 0%, #2ae205 2% ,##1db245 100%);
background:-ms-linear-gradient(top, #fff 0%, #2ae205 2% ,##1db245 100%);
}
 
.bouton a
{
color: grey;
font: 17px "Tahoma", sans-serif;
font : weigth:bold;
text-decoration:none;
text-shadow: 0 -1px 0 rgba (0,0,0,0.4);
}